@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=JetBrains+Mono:wght@100;400&family=Playfair+Display+SC:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #050505;
}

/* Scrollbar personalizada estilo Cyber-Goth */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border: 1px solid #c5a059;
}
::-webkit-scrollbar-thumb:hover {
  background: #8a0000; 
}

